<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034734517976-ufv4vil9nktqr6rjggspr1416vsljj9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034734517976-ufv4vil9nktqr6rjggspr1416vsljj9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034734517976-9gvv39bcag8emng7g39qdtp8jgg9moej.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ldtdQbIPLzqUWRgN32Dxj_F5RFck3KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1034734517976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LCTR.deal</string>
	<key>PROJECT_ID</key>
	<string>ltr-iou</string>
	<key>STORAGE_BUCKET</key>
	<string>ltr-iou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034734517976:ios:3e93d89d9ca49932cf61ad</string>
	<key>DATABASE_URL</key>
	<string>https://ltr-iou.firebaseio.com</string>
</dict>
</plist>